<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser else loggedout">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>   

  <nav class="navbar navbar-expand navbar-dark bg-dark" #loggedout>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
    </nav>
  <div class="container">
      <router-outlet></router-outlet>
  </div>