/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }
.green-icon{
    color:green;
}
.red-icon{
    color:red;
}

#toast-container>div{
    opacity: 1;
}